{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Administrador</title>
  <meta charset="UTF-8">

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/form_style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'styles/form_style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'styles/layout.css' %}" type="text/css">
  <!--[if lt IE 9]><script src="{% static 'scripts/html5shiv.js' %}"></script><![endif]-->
</head>

<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    
    <div id="hgroup">
      <h1><a>PAGINA ADMINISTRADOR</a></h1>
    </div>
    <!--Botones para registrarse e inciar sesion-->
    <nav>
        <ul>
          <li class="last"><a href="/Logout">Logout</a></li>
        </ul>
      </nav>
  </header>
</div>

<div class="wrapper row2">
<nav>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="CrearSede">Crear SEDE</a></li>
      <li class="active"><a href="VerSedes">Ver Sedes</a></li>
      <li class="active"><a href="CrearProducto">Crear Producto</a></li>
      <li class="active"><a href="VerProductos">Ver Productos</a></li>
      <li class="active"><a href="ModificarRoles">Modificar Roles</a></li>
    </ul>
  </div>
</nav>
</div>
<div class="wrapper row2">
    {% block contenido %}
    {% endblock %}
</div>

</body>
</html>